/* top bar start */


.top-bar{
    /* background:#082c6c; */
    background:#0ca745;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 40px;
    font-size:14px;
    flex-wrap:wrap;
    position: relative;
    z-index: 2000;
}

.top-left,
.top-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.tcbc-btn{
    background:#ffc107;
    color:#000;
    padding:5px 10px;
    border-radius:4px;
    text-decoration:none;
    font-weight:bold;
}

.gov-dropdown{
    position:relative;
}

.gov-dropdown a{
    color:white;
    text-decoration:none;
}

.gov-menu{
    position:absolute;
    top:100%;
    left:0;
    background:white;
    min-width:160px;
    display:none;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    z-index: 3000;
}

.gov-menu a{
    display:block;
    padding:8px 10px;
    color:#333;
    text-decoration:none;
}

.gov-menu a:hover{
    background:#f2f2f2;
}

.gov-dropdown:hover .gov-menu{
    display:block;
}

.top-right input{
    padding:4px 6px;
    border:none;
    border-radius:3px;
}

.top-right button{
    padding:1px 8px;
    /* border:none; */
    background:#0ca745;
    color:white;
    cursor:pointer;
    border-radius:3px;
}

.lang-switch a{
    color:white;
    text-decoration:none;
}


@Gallery(max-width:768px){

    .top-bar{
        flex-direction:column;
        align-items:center;
        text-align:center;
        gap:8px;
        padding:10px;
    }

    .top-left,
    .top-right{
        flex-direction:column;
        gap:8px;
    }

    .top-right input{
        width:100%;
        max-width:200px;
    }
}
/* nav bar end*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    /* background:#0b3d91; */
    position:sticky;
    top: 5px;
    z-index:1000;
    padding:0 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo a{
    color:white;
    font-size:22px;
    font-weight:bold;
    text-decoration:none;
    padding:15px 0;
    display:block;
}
.menu{
    list-style:none;
    display:flex;
    margin-left: auto;
    padding-top: 13px;
}

.menu li{
    position: relative;
}

.menu li a{
    color:white;
    text-decoration:none;
    padding:15px 18px;
    display:block;
    font-size:15px;
    transition:0.3s;
}
.menu li a:hover{
    background:#082c6c;
}
.submenu{
    list-style:none;
    position:absolute;
    top:100%;
    left:0;
    background:white;
    min-width:200px;
    display:none;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.submenu li a{
    color:#333;
    padding:12px 15px;
    font-size:14px;
}

.submenu li a:hover{
    background:#f2f2f2;
}
.menu li:hover .submenu{
    display:block;
}
.menu-toggle{
    display:none;
    font-size:26px;
    color:white;
    cursor:pointer;
}
@Gallery(max-width:992px){

    .menu{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#0b3d91;
        flex-direction:column;
        display:none;
    }

    .menu.active{
        display:flex;
    }

    .menu li{
        width:100%;
    }

    .submenu{
        position:static;
        box-shadow:none;
        display:none;
        background:#082c6c;
    }

    .submenu li a{
        color:white;
        padding-left:30px;
    }

    .menu li.active .submenu{
        display:block;
    }

    .menu-toggle{
        display:block;
    }
}
/* Nav bar end */
/* wellcome massage start */
.hero{
    position:relative;
    overflow:hidden;
    height:500px;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}

.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.slide.active{
    display:block;
}

.hero-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
    background:rgba(0,0,0,0.5);
    padding:20px;
    border-radius:5px;
}

.prev, .next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(0,0,0,0.5);
    color:white;
    border:none;
    padding:10px 15px;
    cursor:pointer;
    font-size:20px;
}

.prev{ left:10px; }
.next{ right:10px; }


/* FOOTER */

.navbar-design li{
    margin-right: 10px;
    padding: 1px 5px;
    /* border-radius: 5px; */
    /* transition: .4s ease; */
    /* font-weight: bold; */
    /* list-style: disc; */
}
/* .navbar-design li:hover {
    border-bottom: 1px aliceblue;
    border-radius: 5px;
} */
.navbar-design li a.active:hover,
.navbar-design li a:hover {
    color: rgb(119, 255, 52) !important;
    border-bottom: 1px solid aliceblue;
}

.footer_title_padding {
    padding-left: 70px;
}


.footer-li-width{
    width: 200px;
}

.arrow_margin {
    color: #f2f2f2;
    margin-top: 12px;
    padding-right: 10px;
    transition: .5s ease;
}

.navbar-design li:hover .arrow_margin {
    color: rgb(119, 255, 52) !important;
}

.social_link li{
    list-style: none;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px 7px;
    transition: .5s ease;
}

.social_link li:hover {
    background-color: white;
    color: #0ca745;
}

.social_link li:hover a{
    color: #0ca745;
}

.social_link li a{
    text-decoration: none;
    color: white;
}


/* ABOUT US PAGE START*/

body{
    background:#f8f9fa;
}

.section-title{
    font-weight:700;
    margin-bottom:40px;
}

.about-section{
    padding:80px 0;
}

.about-img{
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.card-custom{
    border:none;
    border-radius:10px;
    transition:.3s;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.card-custom:hover{
    transform:translateY(-5px);
}

.highlight{
    color:#006400;
    font-weight:600;
}

/* ABOUT US PAGE END*/




@Gallery only screen and (max-width: 600px) {
    .footer_title_padding {
        padding-left: 100px;
    }

    .copyright_text {
        text-align: center;
    }
}
